<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
  </head>

  <body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div id="container">
      <span id="text1"></span>
      <span id="text2"></span>
    </div>

    <svg id="filters">
      <defs>
        <filter id="threshold">
          <feColorMatrix
            in="SourceGraphic"
            type="matrix"
            values="1 0 0 0 0
            0 1 0 0 0
            0 0 1 0 0
            0 0 0 255 -140"
            />
          </filter>
        </defs>
      </svg>

      <br />
      <br />
      <br />
      <center>
        <form id="form">
          <!-- <textarea class="input" id="textarea" rows="7" required>
      </textarea> -->
          <div
            style="color: #f5f5f5;"
            class="input"
            contenteditable="true"
            id="mytext"
            data-placeholder="Add some
            text
            here"></div>
          <br>

          <div id="output" class="output"></div>

          <!-- <div class="input" ></div> -->
          <h3>
            KEy
          </h3>


          <div class="number-input">
            <input type="number" min="2" id="keys" required value="2"/>
          </div>


          <button id="submit" class="overlap">
            <p class="overlapText"> &nbsp;endcode</p>
            <div class="overlapTwo">
              <p class="overlapTwoText">GO!&nbsp;</p>
            </div>
          </button>

          <!-- <button id="submit">
            Submit
            <i
              class="fa fa-spinner fa-spin"
              style="display: none"
              id="loader"></i>
          </button> -->
        </form>
      </center>

    </body>

    <script type=text/javascript src="{{url_for('static',
      filename='javascript/script.js')}}"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='styles/styles.css') }}"
      />
  </html>
